# EXERCİSES(Egzersizler)

## 1. Adapting to python (Python'a adapte olmak)
Use "print()" function to print "hello python" to the screen. Use ("") sign around string.
(Ekrana "Merhaba Python!" satırını yazdırmak için print() işlevini kullanın. Dizenin etrafında çift tırnak işareti kullanın;)

In [1]:
print("hello python")

# Kodunuzu buraya yazın

hello python

After doing this use print function again, but write your name this time. (Bunu yaptıktan sonra print() işlevini tekrar kullanın, ancak bu sefer adınızı yazdırın;)

In [2]:
print("my name is vahit sünbül")

my name is vahit sünbül

Remove double quotes and run your code. Watch python' reaction.(Çift tırnak işaretlerini kaldırın ve kodunuzu çalıştırın. What kind of error is thrown?
Python'un tepkisini izleyin. Ne tür bir hata atılıyor?)

In [3]:
# Kodunuzu buraya yazın
print (my name is vahit sunbul)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2960151892.py, line 2)

After remove the parentheses, and put he comma again. after run again code.what kind of error is thrown?

(Ardından parantezleri kaldırın, çift tırnak işaretlerini geri koyun ve kodunuzu yeniden çalıştırın. Bu sefer ne tür bir hata atılıyor? )

In [4]:
print"my name is vahit sünbül"

# Kodunuzu buraya yazın

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (4188699435.py, line 1)

Convert double quotes to single quotes, use  multiple print() functions on the same line and then on different lines.

(Çift tırnak işaretini tek tırnak işaretine dönüştürün, aynı satırda ve ardından farklı satırlarda birden fazla print() işlevi kullanın. Ne oluyor?)

In [8]:
print('vahit sünbül')


# Kodunuzu buraya yazın

vahit sünbül

In [9]:

print('vahit sünbül') print("vahit sünbül")
# Kodunuzu buraya yazın

SyntaxError: invalid syntax (342001226.py, line 1)

## 2. Variable Definition (Değişken Tanımlama)

1. Create these variables: ahmet, mehmet, hasan;
(Şu değişkenleri oluşturun: ahmet, mehmet, hasan;)

2. Assign values to variables. the values must be equal  to the number  of fruits ahmet , mehmet, hasan.Give the value you want.
(Değişkenlere değer atayın. Değerler sırasıyla ahmet, mehmet, hasan'in sahip olduğu meyve sayılarına eşit olmalıdır. İstediğiniz değeri verin;)

3. after saving the numbers to the variables, print variables on line and seperate each with a comma.
(Sayıları değişkenlere kaydettikten sonra değişkenleri bir satıra yazdırın ve her birini virgülle ayırın;)

4. Now create a new variable called total_apples with the sum of the previous variables. 
(Şimdi önceki üç değişkenin toplamına eşit olan total_apples adında yeni bir değişken oluşturun.)

5. print total_apples value to the screen.
(total_apples'ta saklanan değeri konsola yazdırın;)

6. experiment with your code : create new variables, assign them different values and perform arthmetic operations with them.(example :+, -, *, /, // etc.) Try printing a string with a in integer. example"total number of  apples " and toplam_elmalar.
(kodunuzla denemeler yapın: yeni değişkenler oluşturun, onlara farklı değerler atayın ve üzerlerinde çeşitli aritmetik işlemler gerçekleştirin (örneğin, +, -, *, /, // vb.). Bir dizeyi ve bir tam sayıyı birlikte tek bir satıra yazdırmayı deneyin; örneğin, "Toplam elma sayısı:" ve toplam_elmalar.)

In [15]:
ahmet,mehmet,hasan=10,20,33

In [16]:
ahmet

10

In [17]:
print(ahmet,",",mehmet,",",hasan )

10 , 20 , 33

In [21]:
total_apples=ahmet+mehmet+hasan
print(total_apples)

63

In [26]:
hamdi=66
total_apples=hamdi+total_apples
print ("ahmet:",ahmet,"\nmehmet:",mehmet,"\nhasan",hasan,"\nhamdi:",hamdi,"\nnumber of total apples:",total_apples )

ahmet: 10
mehmet: 20
hasan 33
hamdi: 66
number of total apples: 393

## 3. simple Transformations (Basit Dönüşümler)

Miles or kilometers are units of length or distance
(Mil ve kilometre uzunluk veya mesafe birimleridir.)

1 mile equals approximately 1.61 kilometers

(1 mil yaklaşık 1,61 kilometreye eşittir.)


miles to kilometers
kilometers to miles 
(milden - kilometreye; kilometreden mile.)


Do not change anything in existing code.### where indicated, write your code. Test your program with the data together we provide in the source code   
(Mevcut kodda hiçbir şeyi değiştirmeyin. ### ile belirtilen yerlere kodunuzu yazın. Programınızı kaynak kodunda sağladığımız verilerle test edin.)

Especially look inside the print() function. Examine the fonction how to we add multiple arguments and the expected data actually came out.
(print() fonksiyonunun içinde olup bitenlere özellikle dikkat edin. Fonksiyona nasıl birden fazla argüman sağladığımızı ve beklenen verileri nasıl çıkardığımızı analiz edin.)


Remember:
Some arguments in the print() function are strings.(example "miles is")
some others is variable.(example mil)
(print() fonksiyonu içindeki bazı bağımsız değişkenlerin string olduğunu (örneğin, "miles is"), diğer bazılarının ise değişken (örneğin mil) olduğunu unutmayın.)

clue --->(İPUCU)
in the below code, there is other function inside of print() function. This is round() function.Its task is to round the output result to the number of decimal places specified in parentheses. and convert it to a decimal number. (inside the round() function you can find the name of the variable, its comma, and the number of decimal places we are targeting).

(Aşağıdaki kodda, print() fonksiyonunun içinde başka bir fonksiyon vardır. Bu, round() fonksiyonudur. Görevi, çıktı sonucunu parantez içinde belirtilen ondalık basamak sayısına yuvarlamak ve bir ondalıklı sayıya döndürmektir (round() işlevinin içinde değişkenin adını, virgülünü ve hedeflediğimiz ondalık basamak sayısını bulabilirsiniz).)

In [28]:
kilometers = 12.25
miles = 7.38

miles_to_kilometers = miles*1.61
kilometers_to_miles = kilometers/1.61

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

7.38 miles is 11.88 kilometers
12.25 kilometers is 7.61 miles

Beklenen çıktı
7,38 mil 11,88 kilometredir
12,25 kilometre 7,61 mildir

In [30]:
kilometers = 12.25
miles = 7.38

miles_to_kilometers = miles*1.61
kilometers_to_miles = kilometers/1.61
print(miles_to_kilometers)
print(kilometers_to_miles)

11.8818
7.608695652173912

## 4. polynomial (Polinom)

check out the code below. It reads decimal number. Assigns it to a variable called x. And it prints variable of named y. Your task is to create the following expression.

(Aşağıdaki koda bir göz atın: ondalıklı sayıyı okur, onu x adlı bir değişkene koyar ve y adlı bir değişkenin değerini yazdırır. Göreviniz aşağıdaki ifadeyi oluşturmaktır:)

3x3 - 2x2 + 3x - 1

The result should be assigned to "y".
(Sonuç y'ye atanmalıdır.)

Klasik cebirsel gösterimin çarpma operatörünü atlamayı sevdiğini unutmayın; bunu açıkça kullanmanız gerekir. X'in float türünde olduğundan emin olmak için veri türünü nasıl değiştirdiğimizi unutmayın.

Kodunuzu temiz ve okunabilir tutun ve sağladığımız verileri kullanarak, her seferinde x değişkenine atayarak (kodlayarak) test edin.

Örnek Girdiler

x = 0
x = 1
x = -1

Beklenen Çıktılar

y = -1.0
y = 3.0
y = -9.0

In [40]:
x = -1
x = float(x)
# kodunuzu buraya yazın
y=3*(x**3)-2*(x**2)+3*x-1


print("y =", y)

y = -9.0